# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 특정 큰 파일 무시
.terraform/providers/registry.terraform.io/hashicorp/aws/5.72.1/windows_386/terraform-provider-aws_v5.72.1_x5.exe

# 전체 .terraform 디렉토리 무시
.terraform/*

.terraform/*.*

.terraform/**